html {
  height: 100%
}

.App {
  height: 100;
  overflow: hidden;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
}

.column {
height: 100%;
display: flex;
flex-direction: column;
/* justify-content:flex-end; */
border-style: dotted;
align-items: stretch;
}

.column div:nth-child(1) {
  flex-basis: 5vh;
}

.column div:nth-child(2) {
  flex-basis: 95vh;
}

#right {
  flex-grow: 20;
}

#left {
  flex-grow: 1;
}

.top-left{
  flex-shrink: 0;
}

.bottom {
  overflow-y: auto; /*adds scroll to this container */
}


.bottom ul {
    list-style-type: none;
    padding-left: 0;
}

.bottom ul li {
border: solid;
}


/* Fill below portions later for mobile and effects */
@media (prefers-reduced-motion: no-preference) {

}


@keyframes {

}
